body {
  background-color: #f6f6f6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.card {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 240px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  filter: saturate(200%);
}

.card p.name {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 5px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.card p.type {
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
  color: #777777;
  text-transform: uppercase;
}

input[type="search"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  font-size: 1.1em;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ee5253;
  color: #ffffff;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #f08080;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
