header {
  background-color: #E53D35;
  color: #FFFFFF;
  text-align: center;
  padding: 4vw 2vw; /* adicionar um espaçamento interno relativo à largura da tela */
}

h1 {
  margin: 0;
  font-size: 6vw; /* definir o tamanho da fonte relativo à largura da tela */
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px #000000; /* adicionar um leve sombreamento sob o texto */
}

